<li id="<%= dom_id(music_set) %>">
  <%= music_set.title %> <%= music_set.url %>
  <%= link_to [music_set.alarm, music_set, "like"], remote: true, method: :post do %>
    <span class="likes-count">
      <%= music_set.likes_count %>
    </span>
  <% end %>
</li>