<tr id="<%= dom_id(music_set) %>">
  <td>
    <div class="track">
      <div class="button pull-left">
        <div class="play" id="<%= index + 1 %>" file="<%= music_set.url %>"></div>
        <div class="pause"></div>   
      </div>

      <div class="nameTrack pull-left">
        <b>Ремм Дигга</b> -
        <span>
          <%= music_set.title %>
        </span>
      </div>

      <div class='track_actions pull-left'>
        <%= render 'music_sets/track_actions', music_set: music_set %>
      </div>
      <div class="clear"></div>
    </div>
  </td>
</tr>