<div class='search_users pull-left'>
  <%= image_tag 'search_icon.png', class: 'search_icon pull-left' %>

  <%= form_tag render_user_users_search_index_url, remote: true, method: :get do %>
    <%= text_field_tag :by_name %>
    <%= hidden_field_tag :user_id %>

    <%= submit_tag 'Искать', class: 'btn btn-info' %>
  <% end %>
</div>