<div class="media pull-left">
  <%= link_to "http://vk.com/id#{user.vk_id}", class: 'pull-left', target: "_blank" do %>
    <%= image_tag user.avatar, class: "media-object thumbnail", style: "width:64px;height:64px;" %>           
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to user.name, "http://vk.com/id#{user.vk_id}", class: 'user_name', target: "_blank" %>
    </h4>
    <p>
      <%= link_to user.current_alarm, class: 'set_clock' do %>
        <%= image_tag 'set_clock3.png' %>
      <% end %>
    </p>
  </div>
</div>