<!DOCTYPE html>
<html>
<head>
  <title>SocialUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script>
  <script type="text/javascript">
    $(function(){
      VK.init({
        apiId: 3915849,
      });
    });
  </script>
</head>
<body class="<%= @css_class %>">
  <%= render 'shared/header' %>
  <div class="container">
    <%= render 'shared/navigation' %>
    <div class="well media-block">
      <div class='clear'></div>
      
      <%= yield %>
    </div>
  </div>
</body>
</html>
